In [16]:
import pandas as pd
from matplotlib import pyplot as plt
import plotly.express as px
import seaborn as sns

In [17]:
features = pd.read_csv('features.csv')
stores= pd.read_csv('stores.csv')
train= pd.read_csv('train.csv')
test= pd.read_csv('test.csv')
print("features.csv")
print(features.columns)
print("stores.csv")
print(stores.columns)
print("train.csv")
print(train.columns)
print("test.csv")
print(test.columns)

features.csv
Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
       'IsHoliday'],
      dtype='object')
stores.csv
Index(['Store', 'Type', 'Size'], dtype='object')
train.csv
Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday'], dtype='object')
test.csv
Index(['Store', 'Dept', 'Date', 'IsHoliday'], dtype='object')

In [18]:
dataset = pd.read_csv('train.csv', names= ['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday'], sep= ',', header=0)
features = pd.read_csv('features.csv', names= ['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
       'IsHoliday'], sep= ',', header=0).drop(columns=['IsHoliday'])
stores = pd.read_csv('stores.csv', names= ['Store', 'Type', 'Size'], sep= ',', header=0)
dataset = dataset.merge(stores, how='left').merge(features, how='left')
dataset

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,B,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
421566,45,98,2012-10-05,628.10,False,B,118221,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667
421567,45,98,2012-10-12,1061.02,False,B,118221,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667
421568,45,98,2012-10-19,760.01,False,B,118221,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667
421569,45,98,2012-10-26,1076.80,False,B,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

In [19]:
print('lojas: ', stores['Store'].unique())
print('Tipos: ', stores['Type'].unique())

lojas:  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45]
Tipos:  ['A' 'B' 'C']

In [20]:
grouped = stores.groupby( 'Type')
print( grouped.describe()['Size'].round(2))

      count       mean       std      min        25%       50%       75%  \
Type
A      22.0  177247.73  49392.62  39690.0  155840.75  202406.0  203819.0
B      17.0  101190.71  32371.14  34875.0   93188.00  114533.0  123737.0
C       6.0   40541.67   1304.15  39690.0   39745.00   39910.0   40774.0

           max
Type
A     219622.0
B     140167.0
C      42988.0

In [24]:
# plt.style.use('ggplot')
data = pd.concat([dataset['Type'], train['Weekly_Sales']], axis=1),
df = data[0]
figg = px.scatter_matrix(df)
# ax = fig.add_subplot(111)
# ax.scatter(dataset['Size'], dataset['Type'], alpha=0.5)
figg.show()

KeyError: 0

In [22]:

fig = px.box( df, x='Type', y='Weekly_Sales', points='all', hover_data=['Type'], color='Type',)
# fig.show()